<?xml version="1.0" encoding="UTF-8"?>
<!--
==========================================================================

   File    : plugins/bayes.xml
   Purpose : Defines the bayes plugin.
   Author  : David Ruano, Noemi Perez, Jose Ramon Mendez


   Date    : October  14, 2010

==========================================================================
   LICENSING

 WB4Spam: An ANSI C is an open source, highly extensible, high performance and
 multithread spam filtering platform. It takes concepts from SpamAssassin project
 improving distinct issues.

 Copyright (C) 2010, by Sing Research Group (http://sing.ei.uvigo.es)

 This file is part of WireBrush for Spam project.

 Wirebrush for Spam is free software; you can redistribute it and/or
 modify it under the terms of the GNU Lesser General Public License as
 published by the Free Software Foundation; either version 3 of the
 License, or (at your option) any later version.

 Wirebrush for Spam is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Lesser
 General Public License for more details.

 You should have received a copy of the GNU Lesser General Public License
 along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<plugin
  id="es.uvigo.ei.txt_bayes_plugin"
  version="0.1"
  name="Bayes Plugin"
  provider-name="Noemi Perez Diaz">
  <requires>
    <c-pluff version="0.1"/>
    <import plugin="es.uvigo.ei.core" version="0.1"/>
    <import plugin="es.uvigo.ei.txt_structure_parser" version="0.1"/>
    <import plugin="es.uvigo.ei.preschedule_plugin" version="0.1"/>
  </requires>
  <runtime library="libbayes_plugin" funcs="bayes_plugin_runtime_functions"/>
  <extension
     point="es.uvigo.ei.core.functions"
     name="check_bayes"
     cfg=""
     function="es_uvigo_ei_check_bayes"
   />
   <extension
     point="es.uvigo.ei.core.eventhandlers"
     name="autolearn_bayes"
     cfg=""
     eventhandler="es_uvigo_ei_autolearn_bayes"
   />
</plugin>
